git rm -r --cached .
git add .
git commit -m "Remove __pycache__ directories from repository"

# Ignore Python cache directories
__pycache__/

# Ignore other
.git/
.idea/

# Ignore private directories
log/
res/
.*/
