# Ignore Python cache directories
__pycache__/

# Ignore other and temporary data
.idea/
initialized_app_dict.txt
.safety-project.ini

# Ignore log and resource directories
log/
res/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv*/
